/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  /* custom color */
  --vt-c-dark: #333333;
  --vt-c-dark-40: #757575;
  --vt-c-lightgray: #F2F2F2;
  --vt-c-primary: #8BAC3E;

  --vt-c-olive-bloom: #8BAC3E;
  --vt-c-olive-bloom-2: #F0FEEB;
  --vt-c-olive-bloom-3: #F9FFF6;

  --vt-c-ocean-drift: #40A2B1;
  --vt-c-ocean-drift-2: #E6F3F5;

  --vt-c-sky-twilight: #405EB6;
  --vt-c-sky-twilight-2: #EAEEFA;

  --vt-c-berry-crush: #B23F74;
  --vt-c-berry-crush-2: #F9EEF3;

  --vt-c-moss-glow: #A4B441;
  --vt-c-moss-glow-2: #F3F7D9;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: Rubik;
}

body {
  position: relative;
  min-height: 100vh;
  color: var(--vt-c-lightgray);
  background: var(--color-white);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Rubik,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  padding: 0;
  text-decoration: none !important;
  transition: 0.4s;
}

button{
  border: none;
  outline: none;
}

input:focus{
  outline: none;
}

p,h1,h2,h3,h4,h5,h6{
  margin: 0 !important;
}

.container {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
